body{
  background-color: aqua;
}
form{
  background-color: white;
  box-shadow: 
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.006),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  min-height: 100px;
  width: 50%;
  margin: 30px auto;
  padding: 30px 20px;
  text-align: center;
}
h1, #but{
  text-align: center;
}
button{
  color: white;
  padding: 10px 20px;
  background-color: blueviolet;
  border-radius: 2rem;
  border: none;
  box-shadow: 3px 2px #271f1f;
}